@import 'tailwindcss';

:root {
  --primary: #93f20d;
  --primary-foreground: #161c0d;

  --secondary: #4fd1c5;
  --secondary-foreground: #ffffff;

  --tertiary: #f49d25;
  --tertiary-foreground: #161c0d;

  --accent: #ffe66d;
  --accent-foreground: #161c0d;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --border: oklch(0.922 0 0);

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-quicksand), ui-rounded, 'Quicksand', sans-serif;

  --shadow-cartoon: 4px 4px 0px 0px var(--foreground);
  --shadow-cartoon-hover: 2px 2px 0px 0px var(--foreground);
  --shadow-cartoon-inset: inset 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card: #252e16;
    --card-foreground: #ffffff;
    --border: #4d5c3a;
  }
}

body {
  font-family: var(--font-sans);
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
::selection {
  background-color: var(--accent);
  color: #000000;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}
